.sub-title {
  font: var(--sub-title);
  color: var(--gray-500);
}

.title-lg {
  font: var(--title-lg);
  color: var(--gray-600);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-400);
}

.text-md {
  font: var(--text-md);
  color: var(--gray-500);
}